@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap");
* {
  margin: 0;
  /* background-color: hsl(202, 22%, 10%); */
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
}
input {
  color: black;
  padding: 0 5px;
}
.signle__wrapper {
  background-color: rgba(255, 255, 255, 0.1);
}
.signle__wrapper:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 548px) {
  .image {
    width: 36px;
    height: 36px;
  }
}
@media screen and (min-width: 700px) {
  .image {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 400px) {
  .bal {
    flex-direction: column;
  }
}
@media screen and (min-width: 401px) {
  .bal {
    display: flex;
    flex-direction: row;
  }
}
.scrollbar {
  overflow-x: scroll;
}
.scrollbar::-webkit-scrollbar {
  display: none;
}
